body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 100%;
  margin: 0;
}

header {
  background: rgba(0, 0, 0, 0);
}

header ::after, #skills-section::after {
  content: '';
  display: table;
  clear: both;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.logo {
  float: left;
  border: 1px solid yellow;
  width: 35px;
  height: 35px;
  border: 0;
  outline: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}

nav ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  align-content: center;
  transition: 0.2s;
}

nav ul > li > a:hover {
  color: #C26868;
}

nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #C26868;
  position: absolute;
  top: 40px;
  width: 0%
}

nav a:hover::before {
  width: 100%;
  transition: width .35s ease-in-out;
}

.active {
  color: #C26868;
}

header, nav-container, nav-scrolled {
  position: fixed;
  z-index: 150;
  width: 100%;
  top: 0;
}

#pull {
  display: none;
}

@media only screen and (max-width : 768px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  #pull{
    padding-top: 10px;
    display: block;
    color: white;
    font-size: 2em;
    position: relative;
    float: right;
  }
  #pull:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  #push{
    padding-top: 10px;
    display: none;
    color: white;
    font-size: 2em;
    position: relative;
    float: right;
  }
  #push:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  nav a:hover::before {
    display: none;
  }
  nav {
    float: none;
  }
  nav li {
    font-size: 2em;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    float: none;
    display: block;
  }
  nav ul {
    padding: 0;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 10px;
    text-align: center;
  }

}

.disableScroll{
      overflow-y:hidden;
      overflow-x:hidden;
}

.section{
    width: 100%;
    min-height: 100px;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
}

#intro-section{
  width: 100%;
  background: #4C5364;
  height: 100vh;
}

#intro-wrapper {
  display: table;
  margin-left: 10%;
  position: absolute;
  height: 100vh;
  width: 80%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#particles-js {
 position:absolute;
 top:0;
 right:0;
 left:0;
 height: 100vh;
 z-index:0;
}

h1, h2, h3, h4, p {
  margin: 0 auto;
}

h1 {
  font-size: 5.625em;
}

@media only screen and (max-width : 500px) {
  h1 {
    font-size: 4.5em;
  }
}

h2 {
  font-size: 2.5em;
  font-weight: 200;
  letter-spacing: 5px;
}

h4 {
  font-size: 1em;
  margin-bottom: 10px;
}

p {
  color: #4C5364;
  font-family: "Poppins";
}

.section-heading {
  text-align: center;
  font-weight: 700;
  padding-top: 5%;
  letter-spacing: 0;
}

#about-section .section-heading {
  color: #4C5364;
}

#skills-section .section-heading{
  padding-bottom: 2.5%;
  color: white;
}

#experience-section .section-heading {
  color: #4C5364;
  padding-bottom: 2.5%;
}

.fa {
  text-align: center;
  width: 100%;
}

.wrapper {
  width: 80%;
  vertical-align: middle;
  margin: auto;
  padding: 35px;
}

.wrapper p {
  font-size: 0.9em;
}

#intro-strong {
  font-weight: 700;
  font-size: 1.4em;
  text-align: left;
}

#small-line {
  color: #C26868;
  background: #C26868;
  border: 0;
  height: 3px;
  margin: 10px 0 15px 0;
  width: 25%;
}

.text {
  font-size: 1.1em;
}

.text-spacing {
  margin-bottom: 10px;
}

#icon-container {
  padding-top: 40px;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width : 500px) {
  #icon-container {
    width: 200px;
  }
}

.icon {
  padding-top: 17.5px;
}

.icon-circle {
  margin: auto 20px 20px 20px;
  color: white;
  display: inline-block;
  background: #4C5364;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-circle:hover {
  background: #C26868;
  transition: 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

#skills-section{
  width: 100%;
  background: #C26868;
  color: white;
}

#skills-section .wrapper {
  padding: 5px;
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.skills {
  width: 290px;
  float: left;
  padding: 0 15px 40px 15px;;
}

.hover-line {
  border-bottom: 4px white solid;
  height: 275px;
  width: 300px;
  margin: 0;
  display: inline-block;
}

.hover-line:hover {
  transition: 0.2s;
  border-color: #4C5364;
  -webkit-box-shadow: 26px 31px 107px -27px rgba(0,0,0,0.75);
  -moz-box-shadow: 26px 31px 107px -27px rgba(0,0,0,0.75);
  box-shadow: 26px 31px 107px -27px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 980px) {
  #skills-section .wrapper {
      width: 94%;
  }
  .skills {
    width: auto;
    float: none;
  }
  .hover-line {
    border-bottom: 4px white solid;
    height: 275px;
    width: 300px;
    margin: auto;
    display: inline-block;
  }
}

@media only screen and (max-width: 350px) {
  .hover-line {
    width: auto;
  }
}

.icon-skills {
  padding: 25px 0;
}

.skills h3 {
  text-transform: uppercase;
}

.skills p {
  color: white;
  text-align: center;
  padding: 10px 50px 0 50px;
}

#experience-section {
  color: #4C5364;
}

#resume-section {
  width: 100%;
  height: 150px;
  background: rgb(238, 238, 238);
  color: white;
}

#resume-section > a > h2:hover {
  color: #C26868;
  transition: 0.2s;
}

#resume-section .section-heading {
  margin: 0;
  padding: 45px 0;
}

@media only screen and (max-width: 496px) {
  #resume-section .section-heading {
    padding: 25px;
  }
}

#projects-section {
  background: #4C5364;
  color: white;
}

#contact-section {
  background: white;
  color: #4C5364;
  text-align: center;
}

#contact-heading {
  padding: 20px 0;
}

.btn {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 1em;
  background: #4C5364;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 40px;
}

.btn:hover {
  background: #C26868;
  transition: 0.2s;
}

#footer {
  background: #C26868;
  text-align: center;
}

#intro-section .section-heading p {
  color: white;
}

#footer .wrapper {
  margin: 0 auto;
  padding-top: 27.5px;
  text-align: center;
  color: white;
}

.icon-footer:hover {
  color: #fff;
  fill: #fff;
  transition: all .3s ease;
  transform: scale(1.1) translateY(-5px)
}

#footer ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

#footer li {
  display: inline-block;
  padding: 0 20px 10px 20px;
  position: relative;
}

#copy-right {
  color: white;
}

/* TIMELINE */
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/* TIMELINE ITEM */
.timeline-item {
  padding-left: 40px;
  position: relative;
  margin-right: 10px;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/* TIMELINE INFO */
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/* TIMELINE MARKER */
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 1px;
  left: -2.5px;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

/* TIMELINE CONTENT */
.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin: 0 20px 0 20px;
}

/* TIMELINE PERIOD */
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  left: 1px;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/* MOD: TIMELINE SPLIT */
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/* MOD: TIMELINE CENTERED */
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0 -20px;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: 25px;
  }
}

/* MOD: MARKER OUTLINE */
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #C26868;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}
